* {
    box-sizing: border-box;
}

body {    
    display: grid;
    grid-template-columns: 230px 1fr;        
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   
}

main {
    background-color: #F6F8FC;    
}

.job-board {
    margin-left: 65px;
}

.search-inputs {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    gap: 20px;   
}

.form-inputs {
    margin-top: 10px;
    position: relative;    
}

.form-inputs > input {
    width: 560px;
    height: 30px;
    font-size: 12px;
    padding: 20px 20px 20px 50px;
    border: 1px solid #E5E5E5;
    background-color: white;    
    color: #9FA4B8;    
}

.form-inputs > img {    
    position: absolute;
    top: 10px;
    left: 14px;
}

.anywhere {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;    
    border: 1px solid #E5E5E5;    
    font-size: 12px;
    background-color: white;    
    color: #9FA4B8; 
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
}

.anywhere > img {
    position: absolute;
    top: 8px;
    left: 14px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;    
    border: 1px solid #E5E5E5;    
    font-size: 12px;
    background-color: white;    
    color: #9FA4B8; 
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
}

.filters > img {
    position: absolute;
    top: 15px;
    left: 14px;
}

.search-filters {
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: 20px;
    gap: 20px; 
}

.filter-blocks {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 0px 30px 0px 20px;
    border-radius: 20px;
    border: 1px solid #E5E5E5;
}

.filter-blocks > img {
    width: 25px;
    height: 25px;
}

.filter-blocks > p {
    font-size: 14px;
    color: #9FA4B8; 
}

.clear-all {
    background-color: #F6F8FC;
    border: none;
}

.found-jobs {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 80px;
    position: relative;
}

.found-jobs > p {
    font-size: 14px;
    color: #9FA4B8; 
}

.found-jobs > p > span {
    color: #7650E0;
    font-weight: bold;    
}

.found-jobs > .fa {
    position: absolute;
    top: 17px;
    right: -20px;
    font-size: 10px;
    color: #7650E0;
}

.job-descriptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-job {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-left: 60px;
    margin-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 20px 30px 10px rgba(232, 232, 238, 1.0);
    padding-left: 150px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
}

.job-icons {
    position: absolute;
    left: 30px;
    top: 15px;
}

.job-title {
    display: flex;
    align-items: center;
    gap: 30px;
}

.job-location {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #9FA4B8; 
}

.job-salary {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #9FA4B8; 
}

.days {
    font-size: 14px;
}

.active-job {
    border: 2px solid #7650E0;
    box-shadow: 10px 20px 30px 10px rgba(118, 80, 224, 0.2);

}

.finger-dot {
    position: absolute;
    bottom: 5px;
    left: 600px;
    cursor: pointer;
}